<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="header.css">
  <script defer src="header.js"></script>
  <title>Header</title>
</head>
<body>
  <header class="header">
    <img class="header__img" src="./components/header/attached-file_985279.png" alt="logo-portfolio">
      <button class="menu-toggle-abre" aria-label="Abrir menú">
      &#9776; 
    </button>
    <nav class="header__links-nav">
      <button class="close-menu" aria-label="Cerrar menú">&times;</button> <!-- Botón de cierre -->
      <a class="header__link" href="contacto.html">Contacto</a>
      <a class="header__link" href="portfolio.html">Portfolio</a>
      <a class="header__link" href="servicios.html">Servicios</a>
    </nav>
  </header>  
</body>
</html>