<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="card.css">
  <script defer src="card.js"></script>
  <title>Card</title>
</head>
<body>
  <div class="container-card-mayor">

  <div class="card-container">
    <img class="img-card" src="" alt="">
    <h3 class="card-title1"></h3>
    <p class="card-description1"></p>
  </div>

    <div class="card-container">
    <img class="img-card2" src="" alt="">
    <h3 class="card-title2">Desarrollo de paginas</h3>
    <p class="card-description2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam vel inventore error deleniti dolorum sunt cupiditate dolore hic, expedita voluptatibus doloremque optio rerum distinctio reiciendis non! Ducimus corporis veritatis modi.</p>
  </div>

    <div class="card-container">
    <img class="img-card3" src="" alt="">
    <h3 class="card-title3">Desarrollo de paginas</h3>
    <p class="card-description3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam vel inventore error deleniti dolorum sunt cupiditate dolore hic, expedita voluptatibus doloremque optio rerum distinctio reiciendis non! Ducimus corporis veritatis modi.</p>
  </div>

  </div>
</body>
</html>